@font-face {
    font-family: 'Gagalin';
    src: url('../../assets/font/Gagalin-Regular.otf') format('otf'),
         url('../../assets/font/Gagalin-Regular.woff') format('woff'),
         url('../../assets/font/Gagalin-Regular-2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@keyframes scrollHorizontal {
    100% {
        transform: translateX(-100%);
    }
}
:root{
    /* colors */
    --main-color: #1c8ed8;
    --secondary-color: #ff682b;
    /* fonts */
    --heading: 'Gagalin';
}
a{
    color: var(--main-color);
    text-decoration: none;
}
body{
    
}
section{
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}
.hero-wrapper{
    background: url('../../assets/images/hero-banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 750px;
    display: flex;
    align-items: center;
}
.hero-wrapper h1{
    font-family: var(--heading);
    text-align: center;
    font-size: 120px;
}
.hero-wrapper h2{
    text-align: center;
}
/* title section styles */
.title-section{
    padding: 30px 0;
    text-align: center;
}
.title-section h2{
    font-family: var(--heading);
    font-size: 38px;
}
.title-section p{}
.title-section hr{
    width: 30%;
    border-top: 3px solid var(--secondary-color);
    opacity: 1;
    margin: 0 auto;
    padding: 0;
}
.ticker-wrap{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}
.ticker{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    animation: scrollHorizontal 90s infinite linear;
}
.ticker li {
    padding: 10px 30px;
    font-size: 98px;
    font-weight: 800;
    white-space: nowrap;
    text-transform: uppercase;
    opacity: 0.1;
}
/* footer section styles */
footer{
    background: var(--secondary-color);
    color: #fff;
    padding: 20px 0;
}
/* end footer section styles */

@media (max-width:768px) {
    .hero-wrapper h1{
        font-size: 52px;
    }
    .ticker li{
        font-size: 70px;
    }
}