@font-face {
    font-family: 'Gagalin';
    src: url('../../assets/font/Gagalin-Regular.otf') format('otf'),
         url('../../assets/font/Gagalin-Regular.woff') format('woff'),
         url('../../assets/font/Gagalin-Regular-2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@keyframes scrollHorizontal {
    100% {
        transform: translateX(-100%);
    }
}
@keyframes invertScroll {
    100% {
        transform: translateX(0);
    }
}
@keyframes arrowDownMove{
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}
@keyframes horscroll {
    0% {
        right: 0;
        opacity: 1;
    }
    100%{
        right: 80%;
        opacity: 0;
    }
    
}
@keyframes priceVisible {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-20%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes animLeft {0%{right: -10px;}50%{right: 0;}100%{right: -10px;}}
@keyframes animRight {0%{left: -10px;}50%{left: 0;}100%{left: -10px;}}
:root{
    /* colors */
    --main-color: #1c8ed8;
    --secondary-color: #ff682b;
    /* fonts */
    --heading: 'Gagalin';
    --radius: 25px;
    --mobile-radius: 15px;
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --vk-color: #4c75a3;
    --wa-color: #128C7E;
    --tg-color: #0088cc;
    --inst-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

a{
    color: var(--main-color);
    text-decoration: none;
}
a:hover,a:focus{
    text-decoration: none;
    color: #fff;
}
body{
    
}
section{
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}
.hero-wrapper{
    background: url('../../assets/images/hero-banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 750px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 99;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.hero-wrapper h1 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
.hero-wrapper h2 {
    text-align: center;
    font-size: 48px;
    font-family: var(--heading);
    color: #fff;
}
.hero-wrapper h4{
    text-align: center;
    color: #fff;
}
.hero-wrapper .months{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-wrapper .months .item{
    padding: 10px 35px;
    margin: 0 10px;
    font-size: 28px;
    border-radius: 10px;
    border:1px solid var(--secondary-color);
    color: #fff;
}
.hero-wrapper .scroll-down {
    width: 50px;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
}
.hero-wrapper .scroll-down object{
    position: absolute;
    top: 0;
    transition: all 0.3s;
    animation: arrowDownMove 1.5s infinite ease-in-out;
}
.wh-item {
    position: relative;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid var(--secondary-color);
    margin-bottom: 25px;
    border-radius: var(--radius);
    background: #fff;
}
.wh-item .icon {
    position: absolute;
    width: 70px;
    height: 70px;
    background: var(--secondary-color);
    top: -20px;
    left: -20px;
    border-radius: var(--radius);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}
.wh-item .icon object{height: 40px;width: 40px;}
.wh-item p{
    text-align: center;
    margin: 0;
    font-weight: 300;
    font-size: 22px;
}
.school-bag {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    opacity: 0.7;
    z-index: -1;
}
.school-bag img{
    width: 100%;
}
/* title section styles */
.title-section{
    padding: 30px 0;
    text-align: center;
    margin-bottom: 30px;
}
.title-section h2{
    font-family: var(--heading);
    font-size: 38px;
}
.title-section p{}
.title-section hr{
    width: 30%;
    border-top: 3px solid var(--secondary-color);
    opacity: 1;
    margin: 0 auto;
    padding: 0;
}
.ticker-wrap{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}
.ticker{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    animation: scrollHorizontal 90s infinite linear;
}
.ticker li {
    padding: 10px 30px;
    font-size: 98px;
    font-weight: 800;
    white-space: nowrap;
    text-transform: uppercase;
    opacity: 0.1;
    color: var(--secondary-color);
}
.ticker--wrap{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
}
.ticker--item{
    transform: translateX(-100%);
    animation: invertScroll 90s infinite linear;
}
.ticker--item p{
    font-size: 98px;
    font-weight: 800;
    opacity: 0.1;
    text-transform: uppercase;
    white-space: nowrap;
    margin-right: 15px;
    color: var(--secondary-color);
}
/* cta section */

.cta-section{
    display: block;
}
.cta-section h2{
    font-family: var(--heading);
}
.cta-section h4{
    font-family: var(--heading);
}

/* end cta section */
/* gallery section */
.photo-gallery {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.overlay-gallery{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(28,142,216,0) 55%);
    width: 100%;
    height: 100%;
    z-index: 999;
}
.photo-gallery .gallery{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    animation: scrollHorizontal 25s infinite linear;
}
.photo-gallery .gallery .gallery-item{
    display: block;
    margin-right: 5px; 
}
.photo-gallery .gallery .gallery-item .image{
    margin-bottom: 5px;
    width: 200px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
/* end gallery section */
/* price section */
.price-row{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px 0;
    overflow-x: scroll;
}
.price-container{
    overflow: hidden;
    position: relative;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}
.show-price{
    animation: priceVisible 3s;
}
.price-container .header{
    background: var(--secondary-color);
    color: #fff;
    display: block;
    text-align: left;
    font-family: var(--heading);
    padding: 20px 30px;
    position: relative;
}
.price-container .header h3{margin-bottom: 0;}
.price-badge {
    position: absolute;
    right: -60px;
    top: 18px;
    transform: rotate(32deg);
    background: var(--main-color);
    color: #fff;
    width: 240px;
    text-align: center;
    border: 2px dotted;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    font-size: 28px;
}
.price-container .content {
    min-height: 250px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.price-container .content ul{
    list-style: none;
    padding: 0;
}
.price-container .content ul li{
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid #dedede;
}
.price-container .content ul li::before{
    content: '>';
    color: var(--secondary-color);
    margin-right: 10px;
    font-weight: 800;
}
.price-container .footer {
    min-height: 70px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-container .footer a.price-cta {
    color: #fff;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}
.price-container .footer a.price-cta::before{
    content: '➤';
    margin-right: 10px;
    position: absolute;
    animation: animRight 2s infinite ;
    color: #fff;
}
.price-container .footer a.price-cta::after{
    content: '➤';
    transform: rotate(180deg);
    margin-left: 10px;
    position: absolute;
    animation: animLeft 2s infinite ;
    color: #fff;
}
.contact-list{
    list-style: none;
    padding: 0;
}
.contact-list li{
    padding: 10px 0;
    font-size: 32px;
    font-weight: 500;
}
.contact-list li span{
    font-family: var(--heading);
    color: var(--secondary-color);
    margin-right: 10px;
}
.contact-list .social-list{
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: 15px;
}
.contact-list .social-list li{
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 55px;
    margin-right: 10px;
    background: var(--secondary-color);
    padding: 10px 15px;
    border-radius: var(--radius);
}
.contact-list .social-list li span{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}
.glitter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transform: rotate(180deg);
    opacity: 0.3;
}
.contact-list .social-list li.vk{background: var(--vk-color);}
.contact-list .social-list li.wa{background: var(--wa-color);}
.contact-list .social-list li.tg{background: var(--tg-color);}
.contact-list .social-list li object{height: 100%;width: 100%;}
.map-wrapper{
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
}
.building img{width: 100%;}
.building {
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: 0;
    width: 310px;
    transform: rotate(24deg);
}
/* end price section */
/* footer section styles */
footer{
    background: var(--secondary-color);
    color: #fff;
    padding: 20px 0;
}
/* end footer section styles */
/* cta buttons */

.cta-btn{
    padding: 15px 35px;
    border-radius: var(--radius);
    margin-right: 10px;
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    color: #fff;
}
.cta-btn.secondary{
    margin-right: 10px;
    background: transparent!important;
    transition: all 0.3s ease-in-out;
    color: var(--secondary-color)!important;
}
.cta-btn.secondary:hover{background: var(--secondary-color)!important;color: #fff!important;}
/* end cta buttons */
/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-body {
    min-height: 350px;
    overflow: hidden;
}
.modal-header{
    min-height: 45px;
    background: var(--secondary-color);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--heading);
    border: none;
}
.modal-close{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.modal-content{
    min-height: 200px;
    border-radius: 0;
    border: none;
    padding: var(--bs-modal-header-padding);
}
.modal-footer{
    min-height: 45px;
    background: var(--secondary-color);
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: none!important;
}
.form-btn{
    background: transparent!important;
    color: #fff;
    border: 1px solid #fff;
}
.form-btn:hover{
    background: #fff!important;
    color: var(--secondary-color);
    border: 1px solid #fff;
}
.tarif-check{
    border: 1px solid var(--secondary-color);
    border-radius: var(--radius);
    background: transparent;
    padding: 5px 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
input[type=radio]:checked + label{
    background: var(--secondary-color);
    color: #fff;
}
/* end modal */
@media (max-width:768px) {
    .modal-header h4{
        font-size: 18px;
    }
    .cta-btn {
        padding: 5px 15px;
        border-radius: var(--radius);
        margin-right: 10px;
        border: 1px solid var(--secondary-color);
        background: var(--secondary-color);
        color: #fff;
    }
    .photo-gallery .gallery{
        animation: scrollHorizontal 30s infinite linear;
    }
    .overlay-gallery{
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(184,184,184,0) 15%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 85%, rgba(255,255,255,1) 100%);
    }
    .contact-list li {
        padding: 0px 0;
        font-size: 20px;
        font-weight: 500;
    }
    .contact-list .social-list {
        list-style: none;
        padding: 0;
        display: flex;
        margin-top: 15px;
        justify-content: center;
    }
    .contact-list .social-list li {
        width: 70px;
        height: 40px;
        margin-right: 10px;
        background: var(--secondary-color);
        padding: 9px 0px;
        border-radius: var(--radius);
    }
    .building{width: 170px;}
    .touch{
        position: relative;
        height: 35px;
        width: 100%
    }
    .touch object{
        position: absolute;
        height: 25px;
        width: 25px;
        right: 0;
        animation: horscroll 2s infinite;
        z-index: 999;
        transition: all 0.3s ease-in-out;
    }
    .price-row{
        flex-wrap: nowrap;
        justify-content: start;
        padding: 45px 0;
        /* hide scrollbar on mobile */
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .price-row::-webkit-scrollbar{
        display: none;
    }
    .hero-wrapper h1{
        font-size: 52px;
    }
    .ticker li{
        font-size: 70px;
    }
    .hero-wrapper{
        min-height: 650px;
    }
    .hero-wrapper h1{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .hero-wrapper h2{
        font-size: 24px;
    }
    .hero-wrapper .months .item{
        padding: 5px 15px;
        margin: 0 5px;
        font-size: 16px;
        border-radius: 10px;
        border:1px solid var(--secondary-color);
        color: #fff;
    }
    .wh-item p {
        text-align: center;
        margin: 0;
        font-weight: 300;
        font-size: 16px;
    }
    .wh-item {
        min-height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 60px;
        border: 2px solid var(--secondary-color);
        margin-bottom: 35px;
        border-radius: var(--radius);
    }
    .wh-item .icon {
        position: absolute;
        width: 70px;
        height: 70px;
        background: var(--secondary-color);
        top: -25px;
        left: -10px;
        border-radius: var(--mobile-radius);
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .school-bag {
        bottom: -50px;
        width: 240px;

    }
}